<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target=".navbar-inverse-collapse2">
            <span class="close-icon">×</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse2">
        <ul class="nav navbar-nav">
            <li>
                <a href="https://github.com/dresources" target="_blank">GitHub</a>
            </li>
            <li>
                <a href="https://drgjira.dresources.com/secure/Dashboard.jspa" target="_blank">Jira</a>
            </li>
            <li>
                <a href="https://drgconfluence.dresources.com/" target="_blank">Confluence</a>
            </li>
            <li>
                <a href="https://abacus.cmaphq.com/timesheets" target="_blank">CMAP</a>
            </li>
            <li>
                <a href="https://community.dresourcesgroup.com" target="_blank">Portal</a>
            </li>
            <li class="divider-vertical">
                <a href="http://jquery.com/" target="_blank">jQuery</a>
            </li>
            <li>
                <a href="http://nodejs.org/" target="_blank">node.js</a>
            </li>
            <li>
                <a href="http://getbootstrap.com/components/" target="_blank">Bootstrap</a>
            </li>
            <li>
                <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    Cheatsheets
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="http://www.cheatography.com/samcollett/cheat-sheets/git/" target="_blank">Git</a>
                    </li>
                    <li>
                        <a href="http://www.cheatography.com/davechild/cheat-sheets/font-awesome/" target="_blank">Font
                            Awesome</a>
                    </li>
                    <li>
                        <a href="http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/"
                           target="_blank">RegEx</a>
                    </li>
                    <li>
                        <a href="http://docs.emmet.io/cheat-sheet/" target="_blank">Emmet</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id="whoami" href="#"></a>
            </li>
        </ul>
    </div>
</div>
