.container-fluid {
    padding-top: 0;
}

.page-header {
    margin-top: 20px;
}

.sites-menu .fa-github {
    font-size: 40px;
    line-height: 40px;
    vertical-align: middle;
}

// NEW HOST FORM
.new-host-form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.new-host-form.active {
    max-height: 1000px;
}

/* SITE LIST */
.site-list {
    list-style: none;
}

li.site {
    padding: 8px;
    border-bottom: 1px solid #eee;
    transition-duration: 0.3s;
    line-height: 25px;
}

li.site:hover {
    background: #eee;
}

li.site.active:hover {
    background-color: #fff;
}

.site .row > div > i.fa {
    cursor: pointer;
    margin-right: 10px;
    color: #858585;
}

.site .row > div > .fa-tablet {
    margin-left: -24px;
}

.no-tag {
    color: #A94442;
}

/* DIRECTORY LIST */
.directory-list-container {
    height: 300px;
    overflow: scroll;
    cursor: pointer;
}

.directory-list-container li {
    padding: 5px;
    user-select: none;
    transition-duration: 0.1s;
}

.directory-list-container li:nth-child(odd) {
    background: #eee;
}

.directory-list-container li:hover {
    background: #428BCA !important;
    color: white;
}

.directory-list-container li.active {
    background: #69c8c7 !important;
    color: white;
}

.directory-list-container li i.fa-folder {
    margin-right: 5px;
}
